<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.meuprojeto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".controller.IncluirAtividadeBaseActivity"></activity>
        <activity
            android:name=".controller.EditarPassoActivity"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name=".controller.EditarAtividadeActivity" />
        <activity
            android:name=".controller.PopupDeletarAtividadeActivity"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name=".controller.PassosActivity" />
        <activity android:name=".controller.PassoAPassoActivity" />
        <activity android:name=".controller.CadastrarAtividadesInicialActivity" />
        <activity android:name=".controller.CadastrarPreferenciasActivity" />
        <activity android:name=".controller.AtividadesAgendadasActivity" />
        <activity android:name=".controller.CadastrarAtividadeFora" />
        <activity
            android:name=".controller.PopUpResponsaveis"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name=".controller.CadastrarPassoAtividadeActivity" />
        <activity android:name=".controller.AtividadeActivity" />
        <activity android:name=".controller.LoginActivity" />
        <activity android:name=".controller.MinhaRotinaActivity" />
        <activity android:name=".controller.CadastrarUsuario" />
        <activity android:name=".controller.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controller.CadastrarAtividade" />
        <activity android:name=".controller.GerAtividadesActivity" />
        <activity
            android:name=".controller.DashboardActivity"
            android:theme="@style/AppThemeDashboard" />
    </application>

</manifest>